.formatar{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(135, 208, 244);
    margin-top: 2%;
    background-color: rgb(0, 0, 0);
}

input{
    font-family: 'Courier New', Courier, monospace;
}

.img-homem{
    margin-bottom: 5%;
    width: 200%;
    margin-inline-start: 30%;
}




.col-sm-10{
    margin-left: 25%;
    font-size:150%;
    
}


.container{
    background-color: rgb(6, 5, 5);
    width: 100%;
    padding: 5%;
}



.container-loc{
    background-color: rgb(255, 232, 232);
    width: 100%;
}










.mainav{
    background-color: rgb(8, 8, 8);
    margin-top: 1%;
    margin-bottom: 1%;
}

.mainav li{
    display:inline;
    padding: 4%;
    font-size: 20px;
    margin-left: 2%;
}

.mainav li a{
    text-decoration: none;
    color: #72bae6;
    font-size: 30px;
}
.mainav li a:hover{
    text-decoration: none;
    background-color: rgb(4, 4, 4);
    transition: 0.4s;
    font-size: 20px;
}

.border{
    font-size: 200%;
}


.content{
    width: 60%;
    float: left;
}

.content p{
    font-size: 22px;
    text-align: center;
    padding: 15%;
}

.content iframe{
    margin-left: 10%;
    margin-bottom: 2%;
    text-align: center;
    padding: 2%;
}

.footer{
    background-color: rgb(255, 255, 255);
    clear: both;
    color: #070808;
    text-align:center;
    font-weight:#07090a;
    
}




.menul{
    float: left;
    width: 40%;
}
.menul iframe{
    margin-left: 25%;
}
.border{
    margin-left: 5%;
}

.zap{
    width: 40%;
    height: 40%;
    margin-left: 1%;
    margin-top: 5%;
}

.tabela{
    font-size: 20px;
    margin-left: 12%;
    margin-top: 20%;
}

.grupo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 60%;
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 5%;
}








